{% extends 'homebase.html' %}
{% load i18n %}
{% block title %} Contact Us-{{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}
    <br>

    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class="col-md-4">

                    <div class="billing-details">

                        <div class="section-title">                        

                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{message.tags}}" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}

                        </div>
                        <form id="checkout-form" class="clearfix" method="post">
                            {% csrf_token %}
                            {{ form.as_div }}
                            <input type="submit" value="{% trans "SEND FORM" %}">
                        </form>
                    </div>

                </div>
                <br>
                <div class="col-md-8">
                    <div class="shiping-methods">
                        <br>  <br>  <br>
                        <div >
                            {% for rs in setting %}
                            {{ rs.contact|safe }}
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->
    <br><br>
    <!-- Contact Area Start -->
    <div class="contact-area">
        <div class="container">
            <div class="contact-wrapper">
                
            </div>
        </div>
    </div>
    <!-- Contact Area End -->
    <!-- map Area Start -->
    <div class="contact-map">
        <div id="mapid">
            <div class="mapouter">
                <div class="gmap_canvas">
                    {% for rs in setting %}
                        {{ rs.google_map|safe }}
                    {% endfor %}
                    <a href="https://sites.google.com/view/maps-api-v2/mapv2"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- map Area End -->


{% endblock %}